# 디폴트 무시된 파일
/../../파이썬/.idea/shelf/
/../../파이썬/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../파이썬/.idea/httpRequests/
# Datasource local storage ignored files
/../../파이썬/.idea/dataSources/
/../../파이썬/.idea/dataSources.local.xml
